body{
    text-align: center;
    background-color: #1E90FF;
}
.container{
    background-clip:white;
    width: 75%;
}
.success{
    color:green;
}

.fail{
    color:red;
}

#info1{
    text-align:left; 
}
#info2{
    text-align:left;
}
#info3{
    text-align:left;
}
#info4{
    text-align:left;
}
#submit{
    border-radius: 8px;
}
